In [5]:
from connection import run_query

In [6]:
run_query("DROP TRIGGER IF EXISTS before_insert_employee_sales;")

trigger_sql = """

CREATE TRIGGER before_insert_employee_sales
BEFORE INSERT ON employee_sales
FOR EACH ROW
BEGIN
    IF NEW.sale_date IS NULL THEN
        SET NEW.sale_date = NOW();
    END IF;
END;
"""

run_query(trigger_sql)

 Query executed successfully.
 Query executed successfully.

In [7]:
run_query("DROP TRIGGER IF EXISTS before_insert_employee_sales;")

trigger_sql = """

CREATE TRIGGER before_insert_employee_sales
BEFORE INSERT ON employee_sales
FOR EACH ROW
BEGIN
    -- 2. Validate region
    IF NOT (NEW.region IN ('North', 'South', 'East', 'West')) THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Invalid region. Allowed regions are North, South, East, West.';
    END IF;
END;

"""

run_query(trigger_sql)

 Query executed successfully.
 Query executed successfully.

In [8]:
run_query("DROP TRIGGER IF EXISTS before_insert_employee_sales;")

trigger_sql = """
CREATE TRIGGER before_insert_employee_sales
BEFORE INSERT ON employee_sales
FOR EACH ROW
BEGIN
    -- 3. Round sale_amount to 2 decimal places
    SET NEW.sale_amount = ROUND(NEW.sale_amount, 2);
END;

"""

run_query(trigger_sql)

 Query executed successfully.
 Query executed successfully.